@import '../ScssDefine/import';

.Pages,
.Page,
.View {
    box-sizing: border-box;
}

.View {
    height: 100%;

    -webkit-overflow-scrolling: touch;
}

.Pages,
.Page {
    font-size: 16px;
    color: $app-fg;
    background-color: $app-bg;
}

.Pages,
.Page {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

image,
img,
.img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.badge {
    line-height: 1;
    border-radius: 50px;
}

.topStatusbar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: $var-sys-sbr-height;

    background-color: #000;
}

.topBar,
.topToolbar,
.topNavBar {
    z-index: 9;
    top: 0;
    left: 0;

    display: flex;
    flex: 1;

    box-sizing: border-box;
    width: 100%;

    color: #000;

    background: no-repeat center;
    background-size: cover;
    background-size: cover;
}

.topBar {
    position: absolute;

    height: $var-top-bar-height;
    padding-top: $var-sys-sbr-height;

    font-size: 14px;
    line-height: $var-top-bar-height;
}

.topBar,
.topNavBar,
.topToolbar,
.topTitleBar {
    color: $top-nav-bar-fgc;
    background-color: $top-nav-bar-bgc;
}

.wnd-app .topBar {
    display: none !important;
}

.wnd-app.pdtTbh {
    padding-top: 0 !important;
}

.topNavBar,
.topToolbar,
.topTitleBar,
.topTitle {
    height: $title-bar-height;
    line-height: $top-nav-bar-height;
}

.topNavBar .navBack {
    padding: 0 8px 0 5px;
}

.topTitleBar {
    width: 100%;
    margin-right: $var-app-menu-right;
    color: $top-title-bar-fgc;
    background-color: $top-title-bar-bgc;
}

.topTitle {
    overflow: hidden;

    padding: 0 10px;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .top-bar-height */
.tbrH {
    height: $var-top-bar-height !important;
    line-height: $var-top-bar-height !important;
}

.sySbrH {
    height: $var-sys-sbr-height !important;
    line-height: $var-sys-sbr-height !important;
}

/* .top-title-bar-height,.top-nav-bar-height */
.ttbH,
.tnbH {
    height: $title-bar-height !important;
    line-height: $top-nav-bar-height !important;
}

/* .top-title-bar-margin-top */
.ttbMgt {
    margin-top: $title-bar-height !important;
}

.ttbPst {
    top: $title-bar-height !important;
}

/* .top-title-bar-padding-top */
.ttbPdt {
    padding-top: $title-bar-height !important;
}

.inputPlaceholder {
    line-height: inherit !important;
}

.tbrMidBar,
.tbrCenBar,
.tbrMToolBar,
.tbrCToolBar,
.centerBar,
.midBar {
    width: 100%;
}

.tbrLToolbar,
.tbrLeftBar,
.tbrRToolbar,
.tbrRightBar {
    $size: 32px;

    position: relative;
    top: 50%;

    display: flex;

    box-sizing: border-box;
    height: $size;
    margin-top: -16px;

    line-height: $size;

    border-radius: $size;
}

.tbrRToolbar,
.tbrRightBar {
    margin-right: $app-menu-button-right;
    padding-right: $app-menu-button-width;
}

.tbrLToolbar,
.tbrLeftBar,
.leftBar {
    left: 0;
}

.tbrRToolbar,
.tbrRightBar,
.rightBar {
    right: 0;
}

.tbrBtn,
.tbrBack {
    position: relative;
    z-index: 0;

    overflow: visible;

    min-width: 20px;
    margin-right: 1px;
    padding: 0 10px;

    font-size: rpx(34);
    text-align: center;
    white-space: nowrap;

    background-color: rgba(0, 0, 0, 0%);

    transition: background-color 100ms;
}

.tbrBack {
    padding: 0 10px 0 5px;
}

.tbrBTxt {
    overflow: hidden;
    display: inline-block;

    max-width: 2em;
    margin-left: 2px;

    font-size: rpx(24);
    white-space: nowrap;
    vertical-align: top;
}

.tbrDark {
    color: #fff !important;
    background-color: #000 !important;
}

.tbrDark2 {
    color: #fff !important;
    background: rgba(0, 0, 0, 20%) !important;
    box-shadow: inset 0 0 1px rgb(255, 255, 255) !important;
}

.tbrHeading {
    position: relative;
    z-index: 0;

    width: 100%;

    font-size: rpx(38);
    line-height: inherit;
    text-align: center;
}

.tbrHText {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.Grid {
    display: flex;
}

.dspFlex {
    display: flex !important;
}

.faS {
    align-items: start !important;
}

.faFS {
    align-items: flex-start !important;
}

.faC {
    align-items: center !important;
}

.faE {
    align-items: end !important;
}

.faFE {
    align-items: flex-end !important;
}

.fdR {
    flex-direction: row !important;
}

.fdC {
    flex-direction: column !important;
}

.fdCr {
    flex-direction: column-reverse !important;
}

.GridCell {
    flex: 1;
}

.grClFull {
    flex: 0 0 100% !important;
}

.grCeAuto {
    flex: auto !important;
}

.grCe1of2 {
    flex: 0 0 $percent1-2 !important;
}

.grCe1of3 {
    flex: 0 0 $percent1-3 !important;
}

.grCe1of4 {
    flex: 0 0 $percent1-4 !important;
}

.grCe1of5 {
    flex: 0 0 $percent1-5 !important;
}

.wAuto {
    width: auto !important;
}

.wUn {
    width: unset !important;
}

.wFul,
.w100p {
    width: 100% !important;
}

.hFul,
.h100p {
    height: 100% !important;
}

.w66-p {
    width: 66.66% !important;
}

.h33-p {
    height: 33.33% !important;
}

.w0 {
    width: 0 !important;
}

.h0 {
    height: 0 !important;
}

.boxBo {
    box-sizing: border-box !important;
}

.boxCo {
    box-sizing: content-box !important;
}

.boxPa {
    box-sizing: border-box !important;
}

.boxUn {
    box-sizing: unset !important;
}

@mixin size-each($prefix, $suffix, $unit, $values...) {
    @each $val in $values {
        $name: #{$prefix}#{$val}#{$suffix};
        $val: #{$val}#{$unit};
        .w#{$name} {
            width: $val;
        }
        .h#{$name} {
            height: $val;
        }
    }
}

@include size-each('', p, '%', 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5);

//.top-margin-clear
.tmgClr {
    clear: both !important;
    height: 1px !important;
    margin-bottom: -1px;
}

.clrB {
    clear: both !important;
}

.posAbs {
    position: absolute !important;
}

.posFix {
    position: fixed !important;
}

.posRel {
    position: relative !important;
}

.posSti {
    position: sticky !important;
}

.pdtSbh {
    padding-top: $var-sys-sbr-height !important;
}

.pdtTbh {
    padding-top: $var-top-bar-height !important;
}

.mgtSbh {
    margin-top: $var-sys-sbr-height !important;
}

.mgtTbh {
    margin-top: $var-top-bar-height !important;
}

.pstSbh {
    top: $var-sys-sbr-height !important;
}

.pstTbh {
    top: $var-top-bar-height !important;
}

.tabBrSpace {
    height: $tab-bar-height;
    padding-bottom: $var-safe-area-inset-bottom;
}

//Custom top bar and page with padding top as the height of status bar
.pageCtbSpd,
.ctbSpdPage {
    height: calc(100% - #{$var-sys-sbr-height}) !important;
    padding-top: $var-sys-sbr-height !important;
}

//Custom top bar and page with padding top as the height of top bar
.pageCtbTpd,
.ctbTpdPage {
    height: calc(100% - #{$var-top-bar-height}) !important;
    padding-top: $var-top-bar-height !important;
}

:not(.visScrollbar)::-webkit-scrollbar,
:not(.wx-scroll-view)::-webkit-scrollbar,
scroll-view:not(.visScrollbar) > .wx-scroll-view::-webkit-scrollbar,
scroll-view:not(.visScrollbar) > .wx-scroll-view > .wx-scroll-view::-webkit-scrollbar {
    /* .invisible-scrollbar */
    display: none;
}

.revert-i {
    position: revert !important;
}

.static-i {
    position: static !important;
}

.Button::after,
.Input::after,
.Textarea::after,
.sTextField::after,
.mTextField::after {
    content: unset;
    display: none;
}

.Pages {
    line-height: 1.8;
}

view {
    line-height: unset;
}

button {
    background: unset;
}

.Button,
.Input,
.Textarea,
.sTextField,
.mTextField {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
    color: inherit;

    background: none;
    border: 0;
}

.button-hover {
    background-color: #dedede;
}

.hoverBgcBl8 {
    background-color: rgba(0, 0, 0, 80%);
}

.hoverBgcBl5 {
    background-color: rgba(0, 0, 0, 50%);
}

.hoverBgcBl2 {
    background-color: rgba(0, 0, 0, 20%);
}

.hoverBgcWh8 {
    background-color: rgba(255, 255, 255, 80%);
}

.hoverBgcWh5 {
    background-color: rgba(255, 255, 255, 50%);
}

.hoverBgcWh2 {
    background-color: rgba(255, 255, 255, 20%);
}

.Disabled,
.LockIt {
    pointer-events: none !important;
    resize: none !important;
    user-select: none !important;

    -webkit-user-drag: none !important;
}

.wbrAll {
    word-break: break-all !important;
    word-wrap: break-word !important;
}

.wsNo {
    white-space: nowrap !important;
}

.wsNorm {
    white-space: normal !important;
}

.wsPre {
    white-space: pre !important;
}

.wsPreW {
    white-space: pre-wrap !important;
}

.wsPreL {
    white-space: pre-line !important;
}

.sTextField,
.mTextField,
.Input,
.Textarea {
    width: 100%;
    height: 100%;
}

.textBox,
.sTextBox,
.mTextBox {
    box-sizing: border-box;
    width: 100%;
}

.mwS {
    max-width: rpx(640);
}

.mwM {
    max-width: rpx(750);
}

.mwL {
    max-width: rpx(1000);
}

.peNone {
    pointer-events: none !important;
}

//#region 颜色样式

.bgFFF,
.bgWh {
    background: #fff !important;
}

.bgcFFF,
.bgcWh {
    background-color: #fff !important;
}

//#endregion
