@import '../ScssDefine/import';

//#region 表单样式

.Form {
    display: block;
    margin: rpx(60) auto;
}

.formBox {
    margin: rpx(30);
    padding: rpx(30);
    background-color: #fff;
    border: rpx(6);
}

.loginBtn {
    height: $loin-btn-height;
}

.sTextBox {
    height: $input-height;
}

.sTextBox,
.mTextBox {
    position: relative;
    margin: rpx(30) 0;
    border-bottom: 1px solid $text-box-bdc;
}

.sTextField,
.mTextField {
    height: 100%;
    padding: 0 rpx(20);
}

.ilBtn,
.irBtn,
.ilLabel,
.irLabel {
    @include size($input-height);

    user-select: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    box-sizing: border-box;

    text-align: center;
}

.irBtn.irLabel {
    right: 0;
}

.plrInput {
    $s: rpx(num($input-height) + 10);

    @at-root &,
        .pdrInput {
        padding-right: $s;
    }

    @at-root &,
        .pdlInput {
        padding-left: $s;
    }
}

.clrInputBtn::before,
.cIbIco {
    display: inline-block;

    width: 1em;
    height: 1em;
    padding: 1px;

    font-size: rpx(24);
    line-height: 1em;
    color: #fff;

    background-color: rgba(0, 0, 0, 20%);
    border-radius: 100%;
}

.clrInputBtn::before {
    content: 'x';
}

.iLabel {
    pointer-events: none;
    position: absolute;
}

//#endregion
