@import '../ScssDefine/import';

.ui-panel {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    margin-bottom: rpx(20);

    background-color: #fff;
}

.ui-first-panel {
    clear: both;
}

.ui-panel._radius {
    margin-right: rpx(30);
    margin-left: rpx(30);
    border-radius: rpx(16);
}

.ui-panel_hd,
.ui-panel_ft {
    clear: both;
    padding: 0 rpx(20);
    line-height: rpx(80);
}

.ui-panel_hd {
    border-bottom: 1px solid #f0f0f0;
}

.ui-panel_hd:last-of-type {
    border-bottom: 0;
}

.ui-panel_hd:nth-of-type(2n + 1),
.ui-panel_ft {
    border-top: 1px solid #f0f0f0;
}

.ui-panel_hd + .ui-panel_hd {
    border-top: 0;
}

.ui-panel_hd::after {
    content: '';
    clear: both;
    display: block;
}

.ui-panel_ft {
    clear: both;
}

.ui-panel_hdt {
    float: left;
    font-size: 1.1em;
}

.ui-panel_hdr {
    float: right;
    margin: 0 rpx(-20);
    padding: 0 rpx(20);
    font-size: 0.9em;
}

.ui-panel_bd {
    clear: both;
    padding: rpx(20);
}

.ui-panel_hdr::after,
.ui-nav-ra::after,
.ui-arrow-ra::after,
.ui-arrow-ara::after,
.ui-nav-ara::after,
.ui-arrow-fra::after,
.ui-nav-fra::after {
    content: '\e615';
    margin-left: rpx(6);
    font-family: iconfont, iconFont;
    opacity: 0.9;
}

.ui-arrow-ara,
.ui-nav-ara,
.ui-arrow-fra,
.ui-nav-fra {
    padding-right: 2em !important;
}

.ui-arrow-ara,
.ui-nav-ara {
    position: relative;
}

.ui-arrow-ara::after,
.ui-nav-ara::after {
    position: absolute;
    top: 0;
    right: 0.5em;
    bottom: 0;

    margin: auto 0;
}

.ui-arrow-fra::after,
.ui-nav-fra::after {
    float: right;
    margin-right: -1.5em;
    margin-left: 0;
}

.ui-gird {
    //display: grid;
    display: flex;
    flex-wrap: wrap;
}

.ui-gird.x4 > .item {
    //grid-template-columns:repeat(4, percentage(1/4));
    width: 25%;
}

.ui-gird.x5 > .item {
    width: 20%;
}

.ui-gird .item {
    flex-shrink: 0;
}

.ui-hover-opacity,
.ui-hover-ob {
    opacity: 0.5;
}

.ui-hover-bg,
.ui-hover-ob {
    background: #dedede;
}

.ui-hover-rotate {
    animation: kf-rotate360 1000ms;
}

.ui-popup-fixed {
    position: fixed;
    z-index: 20;

    box-sizing: border-box;
    padding-top: calc(#{$var-top-bar-height} + #{rpx(30)});
    padding-bottom: calc(#{$var-top-bar-height} + #{rpx(30)});
}

.ui_sai_pb {
    padding-bottom: $var-safe-area-inset-bottom !important;
}

.ui_sai_pt {
    padding-top: $var-safe-area-inset-bottom !important;
}

.ui_sai_mb {
    margin-bottom: $var-safe-area-inset-bottom !important;
}

.ui_sai_mt {
    margin-top: $var-safe-area-inset-bottom !important;
}

.ui-popup-fixed._show {
    display: block;
}

.ui-popup-mask {
    position: absolute;
    z-index: 0;
    background: rgba(0, 0, 0, 50%);
}

.ui-popup-fixed,
.ui-popup-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-popup-container {
    position: relative;
    z-index: 1;
    overflow: hidden auto;
    height: 100%;
}

@keyframes kf-rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes kf-rotateY360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes kf-rotateY-360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

@keyframes kf-rotateX360 {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

@keyframes kf-rotateX-360 {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(-360deg);
    }
}

@keyframes kf-rotateTo360 {
    to {
        transform: rotate(360deg);
    }
}

.ui-rc-box {
    @include height((1em));

    position: relative;

    display: inline-block;

    margin-right: rpx(20);
    padding: 0;

    font-size: 1em;
    text-align: center;
    vertical-align: text-top;

    visibility: visible;
    background: #fff;

    .wx-radio-input,
    .wx-checkbox-input {
        position: relative;

        display: block;

        width: 1.1em;
        height: 1.1em;
        margin: -0.05em 0 0 -0.05em;

        line-height: 1.1em;

        visibility: visible;
    }

    .wx-radio-input {
        width: 1.5em;
        height: 1.5em;
        margin-top: -0.25em;
        margin-left: -0.25em;
    }
}

.row {
    display: flex;
    padding: rpx(20);

    .label {
        white-space: nowrap;
    }
}

.s95-hover {
    transform: scale(0.95) !important;
}

.s105-hover {
    transform: scale(1.05) !important;
}

.i-placeholder {
    overflow: auto;
    color: rgb(128, 128, 128);
    white-space: nowrap;
}
