@import '../ScssDefine/import';

.PageVar {
    #{--img-placeholder}: $img-placeholder;
    #{--img-error-placeholder}: var(--img-placeholder);
    #{--font-family}: $font-family;
    #{--url-def-icon}: $url-def-icon;
    #{--sys-sbr-height}: var(--status-bar-height, 20px);
    #{--app-menu-button-height}: $app-menu-button-height;

    --safe-area-inset-bottom-size: 0px;
    --title-bar-height: 44px;
    --app-menu-button-width: 87px;
    --app-menu-button-right: 10px;
}

.PageVar {
    #{--top-bar-height}: calc(var(--title-bar-height) + var(--sys-sbr-height));
    #{---top-bar-height}: calc(-1 * var(--top-bar-height));
    #{--navigation-bar}: var(--title-bar-height);
    #{--rpx-ratio}: rpx(50);
    #{--px-ratio}: 0.5px;

    --rpx: calc(100vw / 750);
    --app-menu-right2: calc(var(--app-menu-button-width) + var(--app-menu-button-right) * 2);
    --app-menu-right: calc(var(--app-menu-button-width) + var(--app-menu-button-right));
}

.ios-os {
    --title-bar-height: 40px;
    --app-menu-button-right: 7px;
}

.ios-os.devtools,
.pc-os {
    --title-bar-height: 44px;
}

.iPhoneX {
    #{--safe-area-inset-bottom-size}: env(safe-area-inset-bottom);
}

.android-os,
.env-my {
    --title-bar-height: 48px;
    --app-menu-button-width: 96px;
}

.ios-os,
.android-os.devtools,
.pc-os {
    --app-menu-button-width: 87px;
}

.android-os,
.ios-os.devtools,
.pc-os {
    --app-menu-button-right: 10px;
}

.sys-sbr-h0 {
    --sys-sbr-height: 0px;
}

@mixin top-statusbar-height($counter, $max) {
    @while $counter <= $max {
        .sys-sbr-h#{$counter} {
            #{--sys-sbr-height}: $counter * 1px;
        }

        /* stylelint-disable-next-line order/order */
        $counter: $counter + 2;
    }
}

@include top-statusbar-height(20, 60);

.wnd-app {
    --sys-sbr-height: 0px !important;
    --title-bar-height: 0px !important;
    --top-bar-height: 0px !important;
}
