/* stylelint-disable */
@function is-false($expr) {
  @return not $expr or $expr == 0 or $expr =='';
}

@function is-true($expr) {
  @return not is-false($expr);
}

@function iif($expr, $true-part, $false-part) {
  @if (is-false($expr)) {
    @return $false-part;
  } @else {
    @return $true-part;
  }
}

@function pow($base,$exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

@function str-replace($string, $search, $replace: '',$limit:false) {
  $string: $string+'';
  $search: $search+'';
  $index: 1;
  $count: 0;
  $re-part: '';
  $last-part: $string;
  $unlimited: is-false($limit);
  @if ($search != '') {
    $sl: str-length($search);
    @while ($index and ($unlimited or $count < $limit)) {
      $index: str-index($string, $search);
      @if ($index) {
        $re-part: str-slice($string, 1, $index - 1) + $replace;
        $last-part: str-slice($string, $index + $sl);
        $string: $last-part;
        $count: $count + 1;
      }
    }
  }
  @return $re-part+$last-part;
}

@function str-split($string,$splitter,$limit:false) {
  $string: $string+'';
  $search: $splitter+'';
  $list: ();
  $len: 0;
  $index: 1;
  $unlimited: not $limit;
  $sl: str-length($search);
  $part: null;
  @while ($index and ($unlimited or $len < $limit)) {
    $index: str-index($string, $search);
    @if ($index) {
      $list: append($list, str-slice($string, 1, $index - 1));
      $part: str-slice($string, $index + $sl);
      $string: $part;
      $len: $len+1;
    } @else if ($part != null) {
      $list: append($list, $part)
    }
  }
  @return $list;
}

@function rm-unit($val) {
  @if type-of($val) != number {
    @return 0;
  }
  @if unitless($val) {
    @return $val;
  }
  @return $val / ($val * 0 + 1);
}

@function num($val) {
  @return rm-unit($val);
}

@function int($val) {
  @return floor(num($val));
}

@function absN($val) {
  @return abs(num($val));
}

@function floorN($val,$dp:0) {
  @if $dp>0 {
    $dp: pow(10, $dp);
    @return floor(num($val)*$dp)/$dp;
  }
  @return floor(num($val));
}
@function toFixedN($val,$dp:0){
  @return floorN($val,$dp);
}
@function ceilN($val,$dp:0) {
  @if $dp>0 {
    $dp: pow(10, $dp);
    @return ceil(num($val)*$dp)/$dp;
  }
  @return ceil(num($val));
}

@function roundN($val,$dp:0) {
  @if $dp>0 {
    $dp: pow(10, $dp);
    @return round(num($val)*$dp)/$dp;
  }
  @return round(num($val));
}

@function randomN($limit) {
  @return random($limit);
}

@function float($val) {
  @return num($val);
}

$rpx2rem: 20 / 750;

@function rpe($val, $digit:3) {
  @if ($digit>=0) {
    $_digit: pow(10, $digit);
    $val: floor($val * $rpx2rem * $_digit) / $_digit;
  }
  @return num($val)*1rem;
}

@function rem($val) {
  @return num($val)*1rem;
}

@function rpx($val) {
  @return #{num($val)}rpx;
}

@function rpw($val) {
  @return num($val) / 7.5vw;
}

@function rpwc($val) {
  @return calc(#{num($val)}vw / 7.5);
}

@function is-empty($val) {
  @return $val == null or $val == '' or $val == 0;
}

@function is-empty-str($val) {
  @return $val == '' or $val == null;
}

@function is-empty-num($val) {
  @return $val == 0 or $val == null;
}

@function is-zero($val,$multi:true) {
  @if $val == 0 {
    @return true;
  } @else if ($multi) {
    $val: str-replace(str-replace($val, '0', ''), ' ', '');
    @return $val =='' or $val=='.';
  }
  @return $val == '0';
}

@function env($val) {
  @return #{'env('+#{$val}+')'};
}



@mixin prefix-value($prop,$val) {
  $prop: -moz-#{$val};
  $prop: -webkit-#{$val};
  $prop: -ms-#{$val};
  $prop: #{$val};
}

@mixin prefix-prop($prop,$val) {
  -webkit-#{$prop}: $val;
  -ms-#{$prop}: $val;
  #{$prop}: $val;
}
