@import 'var';

@mixin height($height, $line-height: $height) {
    @if $height != '' {
        height: $height;
    }

    @if $line-height != '' {
        line-height: $line-height;
    }
}

@mixin size($width, $height: $width, $line-height: $height) {
    @if $width != '' {
        width: $width;
    }

    @include height($height, $line-height);
}

@mixin box($name, $top, $right: $top, $bottom: $top, $left: $right) {
    @if $top != '' {
        #{$name}top: $top;
    }

    @if $right != '' {
        #{$name}right: $right;
    }

    @if $bottom != '' {
        #{$name}bottom: $bottom;
    }

    @if $left != '' {
        #{$name}left: $left;
    }
}

@mixin bg-pos($x, $y: $x) {
    background-position-x: $x;
    background-position-y: $y;
}
