/* stylelint-disable function-calc-no-unspaced-operator */
@import 'function';

@import 'url.var';

/* stylelint-disable-next-line prettier/prettier */
$font-family: -apple-system-font,
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
$font-m: rpx(32);
$img-placeholder-url: $img-placeholder-data-url;
$img-placeholder: #f0f0f0 url($img-placeholder-url);
$img-placeholder-size: auto 50%;
$img-error-placeholder-size: auto 50%;
$icon-def-url: $icon-def-data-url;
$url-def-icon: url($icon-def-url);
$pro5pic-nl-bgi: $img-placeholder-url;
$app-menu-button-height: 32px;
$app-menu-button-width: 0;
$app-menu-button-right: 0;
$tab-bar-height: 48px;

//#region ##页面样式变量
$var-rpx-ratio: var(--rpx-ratio);
$var-px-ratio: var(--px-ratio);
$var-safe-area-inset-bottom: var(--safe-area-inset-bottom-size);
$var-sys-sbr-height: var(--sys-sbr-height);
$var-top-bar-height: var(--top-bar-height);
$var--top-bar-height: var(---top-bar-height);
$var-title-bar-height: var(--title-bar-height);
$title-bar-height: $var-title-bar-height;
$top-nav-bar-height: $var-title-bar-height;
$var-font-family: var(--font-family);
$var-img-placeholder: var(--img-placeholder);
$var-img-error-placeholder: $var-img-placeholder;
$var-app-menu-button-height: var(--app-menu-button-height);
$var-app-menu-button-width: var(--app-menu-button-width);
$var-app-menu-button-right: var(--app-menu-button-right);
$var-app-menu-right: var(--app-menu-right);
$var-app-menu-right2: var(--app-menu-right2);
/* stylelint-disable-next-line prettier/prettier */
$tab-bar-page-height: calc(#{'100vh -' $tab-bar-height '- ' $var-safe-area-inset-bottom});


//#endregion

//#region UI主要颜色样式变量
$tm-bg-color: #008fd7;
$tm-ibg-color: #0675ad;
$tm-fg-color: #fff;
$bg-color: #f3f3f3;
$fg-color: #333;
$app-bg: #f3f3f3;
$app-fg: #000;
$app-bdc: #f0f0f0;
$tm-primary-shade: #fff;
$tm-primary-light: #fff;
$tm-primary-dark: #fff;
$tm-accent-shade: #ff9100;
$tm-accent-light: #ff9100;
$top-title-bar-bgc: #fff;
$top-title-bar-fgc: #000;
$top-nav-bar-bgc: #fff;
$top-nav-bar-fgc: #000;
$panel-bg-gradient-1: linear-gradient(0deg, rgb(212, 61, 61) 0%, rgb(245, 88, 88) 100%);
$border-color: #ddd;

//#

//#region ##表单UI变量
$loin-btn-height: rpx(70);
$input-height: rpx(70);
$text-box-bdc: $border-color;

//#endregion

$percent1-2: 50%;
$percent1-3: 33.3333%;
$percent1-4: 25%;
$percent1-5: 20%;
