/**  app.wxss  **/
@import './style/common';

.Pages,
.Page {
    font-size: calc(32vw / 7.5);
}

.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ico,
.icon {
    font-size: calc(48vw / 7.5);
}
